transformers
git+https://github.com/energy-based-model/Compositional-Visual-Generation-with-Composable-Diffusion-Models-PyTorch
git+https://github.com/openai/glide-text2im
git+https://github.com/nanlliu/diffusers